
<ion-content [fullscreen]="true" scroll="false">
  <ion-header>
    <img style="margin-top:30px;width: 80%;" src="../../assets/image/financy.png" alt="">
  </ion-header>
  <ion-card class="overlay-card">
    <form id="form"  [formGroup]="form" (ngSubmit)="showLoading()">
      <div class="form-control">
        <label position="floating">Email</label>
        <ion-item fill="solid">
        <ion-input formControlName="email" placeholder="digite o seu nome de usuário"></ion-input>
        </ion-item>
      </div>
      <div class="password">
        <label position="floating">Senha</label>
        <ion-item fill="solid">
        <ion-input type="password" formControlName="senha" placeholder="digite sua senha"></ion-input>
        </ion-item>
      </div>
      <div class="enter">
        <ion-button class="btn-enter" type="submit">
          ENTRAR
        </ion-button>
      </div>
      <div class="forgot-password">
        <ion-button type="button" class="btn-forgot-password">
          Esqueceu a senha?
        </ion-button >
      </div>
    </form>
  </ion-card>

</ion-content>
